#GaoDeMap {
	margin: 0px auto;
	height:100% !important;
}
.cjc_8_2_toolbar_left{
	position:absolute;
	bottom:10px;
	right:10px;
}
.cjc_8_2_toolbar_left_a{
	cursor:pointer;
	border:1px solid grey;
	background-color:#fff;
	border-radius:5px;
}
.cjc_8_2_toolbar_right{
	background: url(../img/skin_/dialogbg.png) repeat-x;
	width:345px;
	height:30px;
	top:10px;
	position:absolute;
	right:10px;
}
.cjc_8_2_toolbar_right_a{
	cursor:pointer;
	margin-top:8px;
	margin-left:8px;
}
.cjc_8_2_toolbar_right_a_rel{
	color:#fff;
	margin-left:100px;
	font-size:16px;
}
.cjc_8_2_toolbar_right_children{
	top:42px;
	position:absolute;
	right:10px;
}
.cjc_8_2_add_header{
	background: url(../img/skin_/dialogbg.png) repeat-x;
	width:345px;
	height:30px;
}
.cjc_8_2_add_header_a{
	color:#fff;
	margin-left:8px;
}
.cjc_8_2_add_body{
	width:345px;
	height:50px;
	background-color:#fff;
}
.cjc_8_2_add_body_btn_1{
	border-radius:3px;
	background-color:#fff;
	border:1px solid grey;
	height:30px;
	margin-top:10px;
	margin-left:8px;
	cursor:pointer;
}
.cjc_8_2_add_body_btn_1:active{
	background-color:#0f0;
	border:5px solid grey;
}
.cjc_8_2_add_body_btn_2{
	border-radius:3px;
	background-color:#fff;
	border:1px solid grey;
	height:30px;
	cursor:pointer;
	z-index:1;
}
.cjc_8_2_add_body_btn_2:active{
	background-color:#0f0;
	border:5px solid grey;
}
.cjc_8_2_read_header{
	background: url(../img/skin_/dialogbg.png) repeat-x;
	width:345px;
	height:30px;
}
.cjc_8_2_read_body{
	width:345px;
	height:50px;
	background-color:#fff;
}
.cjc_8_2_toolbar_right_children{
	display:none;
	font-size:16px;
}
.newcjc{
	display:none;
}
#cjc_btn_controller{
	position:absolute;
	top:5px;
	z-index:201;
	display:none;
	margin-left:80px;
}
.op_btn{
    float: right;
    border:5px solid #aaa;
    width:50px;
    height:30px;
    line-height:30px;
    font-size:16px;
    text-align:center;
    border-radius: 10px;
    cursor:pointer;
    background-color: white;
    font-weight:bold;
    font-family: Microsoft Yahei;
}
.op_btn:hover{
    background-color:#def;
	border: 5px solid violet;
}
.clearfix{
    clear:both;
}

.color_btn{
    float: left;
    border:5px solid #F5F5F5;
    width:35px;
    height:35px;
    border-radius:10px;
    cursor:pointer;
}
.size_btn{
	float: left;
    border:5px solid #DCDCDC;
    width:35px;
    height:35px;
    border-radius: 10px;
    cursor:pointer;
	background-color:#fff;
	font-weight:bold;
    font-family: Microsoft Yahei;
	font-size:20px;
	text-align:center;
}
.size_btn:hover{
	border: 5px solid violet;
}
.color_btn:hover{
    border: 5px solid violet;
}

#black_btn{
    background-color: black;
}
#blue_btn{
    background-color: blue;
}
#green_btn{
    background-color: green;
}
#red_btn{
    background-color: red;
}
#orange_btn{
    background-color: orange;
}
#yellow_btn{
    background-color: yellow;
}
.canvas_div{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	z-index:200;
	display:none;
}
#offCanvas{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	z-index:202;
	
}
.cjc_8_7_addPoints{
	position:absolute;
	width:400px;
	height:350px;
	top:25%;
	left:35%;
	background-color:#fff;
	border-radius:8px 8px;
	display:none;
	z-index:800;
}
.cjc_8_7_addPoints_head{
	height:30px;
	border:1px solid grey;
	border-bottom:1px solid transparent;
	font-size:14px;
}
.cjc_8_7_addPoints_head div{
	margin-top:5px;
	margin-left:175px;
	position:absolute;
}
.cjc_8_7_addPoints_head a{
	float:right;
	margin:5px;
	cursor:pointer;
}
.cjc_8_7_addPoints_head_2{
	height:50px;
	border:1px solid grey;
	border-bottom:1px solid transparent;
	font-size:14px;
}
.cjc_8_7_addPoints_head_2_text{
	margin-top:15px;
	margin-left:5px;
	position:absolute;
}
#cjc_8_7_addPoints_head_2_button{
	width:64px;
	height:32px;
	margin-top:8px;
	margin-left:50px;
	border:1px solid grey;
	background-color:#F5F5F5;
	overflow:hidden;
	cursor:pointer;
}
.cjc_8_7_addPoints_body{
	height:85px;
	border:1px solid grey;
	border-bottom:1px solid transparent;
	font-size:14px;
}
.cjc_8_7_addPoints_body_1{
	position:absolute;
	margin-top:10px;
	margin-left:5px;
}
.cjc_8_7_addPoints_body_2{
	margin-top:45px;
	margin-left:5px;
}
.cjc_8_7_addPoints_bottom{
	height:178px;
	border:1px solid grey;
	font-size:14px;
}
#cjc_8_7_addPoints_bottom_button{
	margin-top:140px;
	margin-left:150px;
	height:30px;
	width:100px;
	border:1px solid grey;
	background-color:#F5F5F5;
	cursor:pointer;
}
.cjc_8_8_edit{
	position:absolute;
	background-color:#fff;
	width:300px;
	height:401.5px;
	top:25%;
	left:5%;
	display:none;
	z-index:800;
}
.cjc_8_8_edit_head{
	height:30px;
	border:1px solid grey;
	border-bottom:1px solid transparent;
	font-size:14px;
}
.cjc_8_8_edit_head div{
	position:absolute;
	margin-top:5px;
}
.cjc_8_8_edit_head a{ 
	float:right;
	margin-right:5px;
	margin-top:4px;
	cursor:pointer;
}
.cjc_8_8_edit_body_left{
	height:367px;
	width:180px;
	border:1px solid grey;
	position:absolute;
	overflow-x:hidden;
	overflow-y:scroll;
}
.cjc_9_9_imgs{
	border:5px solid transparent;
}
.cjc_9_9_imgs:hover{
	border:5px solid violet;
}
.color_btn_selected{
    border:5px solid blueviolet;
}
.cjc_8_8_edit_body_right{
	height:367px;
	width:117px;
	border:1px solid grey;
	border-left:1px solid transparent;
	float:right;
	font-size:14px;
	z-index:800;
}
#cjc_9_11_text{
	margin-top:5px;
}
.cjc_8_8_edit_body_right_button{
	width:64px;
	height:32px;
	margin-left:22px;
	background-color:#F5F5F5;
	border:1px solid grey;
	overflow:hidden;
}
.cjc_8_9_addPictures{
	position:absolute;
	width:400px;
	height:350px;
	top:25%;
	left:35%;
	background-color:#fff;
	border-radius:8px;
	display:none;
	z-index:800;
}
.cjc_8_9_addPictures_head{
	text-align:center;
	height:30px;
	border:1px solid grey;
	border-bottom:1px solid transparent;
	font-size:14px;
}
.cjc_8_9_addPictures_head a{
	margin-top:5px;
	margin-right:5px;
	float:right;
	cursor:pointer;
}
.cjc_8_9_addPictures_head div{
	position:absolute;
	margin-top:5px;
	margin-left:170px;
}
.cjc_8_9_addPictures_head_2{
	height:50px;
	border:1px solid grey;
	border-bottom:1px solid transparent;
	font-size:14px;
	
}
.cjc_8_9_addPictures_head_2 input{
	margin-top:12px;
	margin-left:5px;
}
.cjc_9_12_set{
	height:264px;
	border:1px solid grey;
}
#cjc_9_25_text_0{
	position:absolute;
	margin-left:5px;
	margin-top:5px;
}
#cjc_9_12_text_1{
	position:absolute;
	margin-left:5px;
	margin-top:30px;
}
#cjc_9_25_text_1{
	position:absolute;
	margin-left:5px;
	margin-top:58px;
}
#cjc_11_13_div{
	position:absolute;
	margin-left:5px;
	margin-top:86px;
}
#cjc_9_12_text_1 button{
	border:1px solid grey;
	background-color:#F5F5F5;
	cursor:pointer;
}
#cjc_9_12_ok{
	border:1px solid grey;
	background-color:#F5F5F5;
	margin-bottom:5px;
	height:30px;
	width:100px;
	cursor:pointer;
}

#cjc_9_12_text_1 button:hover,#cjc_9_12_ok:hover{
	background-color:#87CEFA;
}
#cjc_9_12_text_1 button:active{
	background-color:#FA8072;
}
#cjc_9_12_ok:active{
	border:5px solid #7CFC00;
	background-color:#FA8072;
}
.cjc_9_12_bottom{
	position:absolute;
	bottom:10px;
	left:150px;
}
.cjc_9_3_file_input{
	position:absolute;
	margin-top:12px;
	width:50px;
	margin-left:-60px;
	opacity:0;
	z-index:2;
}
.cjc_9_3_file_input_1{
	position:absolute;
	margin-top:13px;
	width:85px;
	z-index:2;
	margin-left:-155px;
	opacity:0;
}
.cjc_9_9_img_2{
	left:-30px;
	filter:drop-shadow(#EE82EE 40px 0);
	position:relative;
	border-right:20px solid transparent;
}
.amap-simple-marker-icon{
	overflow:hidden;
}
.cjc_9_13_addLine{
	position:absolute;
	width:400px;
	height:350px;
	top:25%;
	left:35%;
	background-color:#fff;
	border-radius:8px;
	display:none;
	z-index:800;
}
.cjc_9_13_addLine_head{
	text-align:center;
	height:30px;
	border:1px solid grey;
	border-bottom:1px solid transparent;
	font-size:14px;
}
.cjc_9_13_addLine_head a{
	margin-top:5px;
	margin-right:5px;
	float:right;
	cursor:pointer;
}
.cjc_9_13_addLine_head div{
	position:absolute;
	margin-top:5px;
	margin-left:170px;
}
.cjc_9_13_addLine_bz{
	height:50px;
	border:1px solid grey;
	border-bottom:1px solid transparent;
	font-size:14px;
}
.cjc_9_13_addLine_bz div{
	margin-left:15px;
	margin-top:15px;
}
.cjc_9_13_addLine_bottom{
	height:264px;
	border:1px solid grey;
}
.cjc_9_13_addline_d_1{
	margin-left:10px;
	margin-top:10px;
}
.cjc_9_13_bottom{
	position:absolute;
	bottom:10px;
	left:150px;
}
#cjc_9_13_ok{
	border:1px solid grey;
	background-color:#F5F5F5;
	margin-bottom:5px;
	height:30px;
	width:100px;
	cursor:pointer;
}
#cjc_9_13_ok:hover{
	background-color:#87CEFA;
}
#cjc_9_13_ok:active{
	border:5px solid #7CFC00;
	background-color:#FA8072;
}
.cjc_9_18_addPictures{
	position:absolute;
	width:400px;
	height:350px;
	top:25%;
	left:35%;
	background-color:#fff;
	border-radius:8px;
	display:none;
	z-index:800;
}
#cjc_9_18_ok{
	border:1px solid grey;
	background-color:#F5F5F5;
	margin-bottom:5px;
	height:30px;
	width:100px;
	cursor:pointer;
}
#cjc_9_18_ok:hover{
	background-color:#87CEFA;
}
#cjc_9_18_ok:active{
	border:5px solid #7CFC00;
	background-color:#FA8072;
}
.cjc_9_18_addText{
	position:absolute;
	width:400px;
	height:350px;
	top:25%;
	left:35%;
	background-color:#fff;
	border-radius:8px;
	display:none;
	z-index:800;
}
#cjc_9_18_ok_1{
	border:1px solid grey;
	background-color:#F5F5F5;
	margin-bottom:5px;
	height:30px;
	width:100px;
	cursor:pointer;
}
#cjc_9_18_ok_1:hover{
	background-color:#87CEFA;
}
#cjc_9_18_ok_1:active{
	border:5px solid #7CFC00;
	background-color:#FA8072;
}
.info {
	border: solid 1px silver;
	background-color: #ffffff;
}
div.info-top {
	position: relative;
	background: none repeat scroll 0 0 #F9F9F9;
	border-bottom: 1px solid #CCC;
	border-radius: 5px 5px 0 0;
}
div.info-top div {
	display: inline-block;
	color: #333333;
	font-size: 14px;
	font-weight: bold;
	line-height: 31px;
	padding: 0 10px;
}
div.info-top img {
	position: absolute;
	top: 10px;
	right: 10px;
	transition-duration: 0.25s;
}
div.info-top img:hover {
	box-shadow: 0px 0px 5px #000;
}
div.info-middle {
	font-size: 12px;
	padding: 6px;
	line-height: 20px;
}
div.info-bottom {
	height: 0px;
	width: 100%;
	clear: both;
	text-align: center;
}
div.info-bottom img {
	position: relative;
	z-index: 104;
}
.info-middle img {
	float: left;
	margin-right: 6px;
}
.cjc_8_2_toolbar_left_a:hover{
	background-color:#CCCCCC;
}
.cjc_8_2_toolbar_left_a:active{
	background-color:#EE82EE;
}